.card-container {
    display: flex;
    align-items: center;
    width: 75%;
    margin-left: -8px;
    transition: 250ms;
    animation: fadeInUp 1s;

    &:hover {
        transform: translate(0, -8%)
    }

    &:nth-of-type(1) {
        animation-delay: 0.7s;
    }
    &:nth-of-type(2) {
        animation-delay: 0.8s;
    }
    &:nth-of-type(3) {
        animation-delay: 0.9s;
    }
    &:nth-of-type(4) {
        animation-delay: 1s;
    }
}   



.timeline-dot {
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background-color: #FF69B4;
    z-index: 1;
}

.timeline-line {
    border-top: 2px solid #9e9e9e;
    width: 64px;
}

.timeline-card {
    padding: 20px;
    background-color: #181818;
    width: 100%;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

.timeline-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}


.timeline-content .company-location {
    font-size: 20px;
}

.timeline-content .position {
    font-size: 24px;
    font-weight: bold;
}

.timeline-content .date,
.timeline-content .description {
    font-size: 16px;
}

.timeline-content .description {
    text-align: right;
}


@media screen and (max-width: 1200px) {

    .card-container {
        width: 100%;
    }

    .timeline-content .company-location {
        font-size: 18px;
    }
    
    .timeline-content .position {
        font-size: 22px;
    }
    
    .timeline-content .date,
    .timeline-content .description {
        font-size: 14px;
    }
}

@media screen and (max-width: 767px) {
    .timeline-content {
        flex-direction: column;
        align-items: start;
    }

    .timeline-line {
        width: 32px;
    }
}